# Lab | Revisiting Machine Learning Case Study

In [1]:
import pandas as pd

In [2]:
data = "learningSet.csv"

In [3]:
df = pd.read_csv(data)

C:\Users\nicol\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

# Complete the following steps on the categorical columns in the dataset:

In [5]:
categorical = df.select_dtypes(include = "object")

In [6]:
categorical

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

## Check for null values in all the columns

In [7]:
nan_cols = categorical.columns[categorical.isna().any()].tolist()
nan_cols

['GEOCODE2']

## Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

In [8]:
drop_list = []

In [9]:
drop_list += nan_cols

In [10]:
drop_list

['GEOCODE2']

In [11]:
df["OSOURCE"]

0        GRI
1        BOA
2        AMH
3        BRY
4
        ...
95407    ASE
95408    DCD
95409    MBC
95410    PRV
95411    MCC
Name: OSOURCE, Length: 95412, dtype: object

In [12]:
drop_list.append("OSOURCE")

In [13]:
# df["ZIP CODE"]

In [14]:
df_zip_code = df.filter(regex=("ZIP.*?"))

In [15]:
df_zip_code = df_zip_code.columns.to_list()

In [16]:
drop_list += df_zip_code

In [17]:
drop_list

['GEOCODE2', 'OSOURCE', 'ZIP']

# Identify columns that over 85% missing values

In [18]:
for column in categorical.columns:
    if categorical[column].value_counts().sum()/len(categorical) < 1:
        print("Column: {} has {}% of data filled ".format(column, round((categorical[column].value_counts().sum()/len(categorical))*100,2)))

Column: GEOCODE2 has 99.86% of data filled

The only categorical column with NaNs has less than 1% of missing values.

### How about the full dataset?

In [19]:
df_low_data = []
for column in df.columns:
    if df[column].value_counts().sum()/len(df) < 0.15:
        print("Column: {} has {}% of data filled ".format(column, round((df[column].value_counts().sum()/len(df))*100,2)))
        df_low_data.append(column)

Column: NUMCHLD has 12.98% of data filled
Column: RDATE_3 has 0.25% of data filled
Column: RDATE_4 has 0.29% of data filled
Column: RDATE_5 has 0.01% of data filled
Column: RDATE_6 has 0.81% of data filled
Column: RDATE_7 has 9.32% of data filled
Column: RDATE_10 has 10.96% of data filled
Column: RDATE_13 has 12.84% of data filled
Column: RDATE_15 has 7.61% of data filled
Column: RDATE_17 has 9.85% of data filled
Column: RDATE_20 has 8.27% of data filled
Column: RDATE_21 has 9.97% of data filled
Column: RDATE_23 has 8.24% of data filled
Column: RAMNT_3 has 0.25% of data filled
Column: RAMNT_4 has 0.29% of data filled
Column: RAMNT_5 has 0.01% of data filled
Column: RAMNT_6 has 0.81% of data filled
Column: RAMNT_7 has 9.32% of data filled
Column: RAMNT_10 has 10.96% of data filled
Column: RAMNT_13 has 12.84% of data filled
Column: RAMNT_15 has 7.61% of data filled
Column: RAMNT_17 has 9.85% of data filled
Column: RAMNT_20 has 8.27% of data filled
Column: RAMNT_21 has 9.97% of data filled
Column: RAMNT_23 has 8.24% of data filled

# Remove those columns from the dataframe

In [20]:
df = df.drop(columns=drop_list)

# Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [22]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

#### Since these are not actually NaNs

In [23]:
categorical["GENDER"][categorical['GENDER'] == " "] = "F"
categorical["GENDER"].value_counts()

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [28]:
categorical["GENDER"] = categorical["GENDER"].apply(lambda x : x if (x in ["F", "M"]) else "other")

In [29]:
categorical["GENDER"].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64

In [31]:
df.to_csv("learningSet_1.csv", index=False)